:root {
    --greenfont: chartreuse;
    --bgcolor: rgba(26, 26, 26, 0.8);
    --navBG:  rgba(23, 23, 23, 1);
    --border: solid 2px white;
    --h2text: white;
    --numcolor: white;
}

.darkTheme {
    --bgcolor: rgba(26, 26, 26, 0.8);
    --greenfont: chartreuse;
    --navBG:  rgba(23, 23, 23, 1);
    --border: solid 2px white;
    --h2text: white;
    --numcolor: white;
}

.lightTheme {
    --bgcolor: rgba(218, 218, 218, 1);
    --greenfont: rgb(37, 95, 255);
    --navBG:  rgb(173, 173, 173);
    --border: solid 2px white;
    --h2text: black;
    --numcolor: black;
}

html {
  background: url("imgs/bgMtn.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

}

body {
  font-family: Noto Sans KR;
}

.bodyCon {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
  color: var(--greenfont);
  background-color: var(--bgcolor);
  width: 60%;
  text-align: center;
  border-radius: 20px;
  border: var(--border);
}

nav {
  display: none;
  flex-direction: column;
  align-items: center;
  width: 40%;
  max-width: 360px;
  box-sizing: border-box;
  background-color: var(--navBG);
  border: var(--border);
  border-radius: 20px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  position: absolute;
  z-index: 1;
}

#settingsForm {
  width: 100%;
}

#accessNav {
  margin: 20px;
  font-size: 2em;
  color: var(--greenfont);
}

#p1 {
  color: var(--greenfont);
  font-size: 2em;
}

#p2 {
  font-size: 0.7em;
  color: white;
  text-decoration: underline;
}

#budgetAmount {
  width: 100%;
}

#btnContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 5px 0;
}

#warnings,
#darkMode {
  justify-content: baseline;
  align-items: center;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  width: 100%;
}

#newWeek {
  width: 100%;
}

#newWeek:hover,
#darkMode:hover {
  background-color: var(--greenfont);
}

#expenses {
  font-size: 2em;
}

#itemTag,
#costTag {
  font-size: 1.5em;
}

#budgetTag,
#remainingTag {
  font-size: 2em;
}

#budgetTag,
#remainingTag,
#itemTag,
#costTag,
#expenses {
  color: var(--greenfont);
}

#totalBudget,
#remaining {
  color: var(--numcolor);
  font-size: 3em;
}

#formContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  min-width: 35%;
}

#budgetForm {
  display: flex;
  flex-direction: column;
  width: 35%;
  max-width: 580px;
  height: 350px;
  margin: 10px;
  background-color: var(--bgcolor);
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: var(--border);
}

#inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  max-width: 580px;
  height: 350px;
  margin: 10px;
  background-color: var(--bgcolor);
  justify-content: center;
  border-radius: 20px;
  border: var(--border);
}

#budgetForm label {
  font-size: 1.7em;
  margin: 10px;
}

#inputForm label,
select {
  margin: 10px;
}

#subtractBtn {
  padding: 2px;
  margin-bottom: 5px;
}

#subtractBtn:hover {
  background-color: var(--greenfont);
}

section {
  display: flex;
  justify-content: center;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

div {
  position: relative;
  width: 25%;
  margin: 20px;
}

#bills,
#food,
#clothing,
#entertainment {
  border: var(--border);
  padding: 12px;
  border-radius: 20px;
  min-height: 300px;
  align-items: start;
  max-width: 253px;
}

.totals {
  position: absolute;
  bottom: 0px;
  align-items: flex-end;
}

section div h2 {
  color: var(--h2text);
  background-color: var(--bgcolor);
  margin: 0;
  border-radius: 10px;
  padding: 5px;
}

#billTotal,
#foodTotal,
#clothingTotal,
#entertainmentTotal {
  color: white;
}

li {
  color: white;
}

@media only screen and (max-width: 1200px) {
  body {
    padding: 0;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 150px;
  }
  #bills,
  #food,
  #clothing,
  #entertainment,
  #budgetForm,
  #inputForm {
    width: 90%;
    overflow-x: hidden;
  }
  #nav {
    width: 60%;
  }
}

#chartContainer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}