body {
    font-family: Noto Sans KR;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 46, 46);
    /* background: url("imgs/bg.jpg");
    background-size: cover; */
}

h1 {
    font-size: 3em;
    color: chartreuse;
    background-color: rgba(26, 26, 26, 0.8);
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#expenses {
    font-size: 2em;
}

#itemTag, #costTag {
    font-size: 1.5em;
}

#budgetTag, #remainingTag {
    font-size: 2em;
}

#budgetTag, #remainingTag, #itemTag, #costTag, #expenses {
    color: chartreuse;
}



#totalBudget, #remaining {
    color: white;
    font-size: 3em;

}

#formContainer {
    display: flex;
    justify-content: center;
    width: 100vw;
}

#budgetForm {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 35%;
    height: 350px;
    margin: 10px;
    background-color: rgba(26, 26, 26, 0.8);
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

#inputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 350px;
    margin: 10px;
    background-color:  rgba(26, 26, 26, 0.8);
    justify-content: center;
    border-radius: 20px;
}

#budgetForm label {
    font-size: 1.7em;
    margin: 10px;
}

#inputForm label, select {
    margin: 10px;
}

#subtractBtn {
    padding: 2px;
    margin-bottom: 5px;
}

#subtractBtn:hover {
    background-color: chartreuse;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    width: 90vw;
}

div {
    position: relative;
    width: 25%;
    margin: 20px;
}

#bills, #food, #clothing, #entertainment {
    border: 2px solid white;
    padding: 12px;
    border-radius: 20px;
    min-height: 300px;
    align-items: start;
}

.totals {
    position: absolute;
    bottom: 0px;
    align-items: flex-end;
}

section div h2 {
    color: white;
    background-color: rgba(26, 26, 26, 0.8);
    margin: 0;
    border-radius: 10px;
    padding: 5px;
}

#billTotal, #foodTotal, #clothingTotal, #entertainmentTotal {
    color: white;
}

li {
    color: white;
}

@media only screen and (max-width: 1200px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div {
        width: 50%;
    }
  }


